@import url(./__container/popup__container.css);
@import url(./__close-toggle/popup__close-toggle.css);
@import url(./__form/popup__form.css);
@import url(./__item/popup__item.css);
@import url(./__form-container/popup__form-container.css);
@import url(./__form-item/popup__form-item.css);
@import url(./__title/popup__title.css);
@import url(./__form-button/popup__form-button.css);
@import url(./_opened/popup_opened.css);
@import url(./__form-input/popup__form-input.css);
@import url(./__close-toggle/_img/popup__close-toggle_img.css);
@import url(./__container-image/popup__container-image.css);
@import url(./__image-src/popup__image-src.css);
@import url(./__images/popup__images.css);
@import url(./__caption/popup__caption.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
