@import url(./__container/gallery__container.css);
@import url(./__item/gallery__item.css);
@import url(./__caption/gallery__caption.css);
@import url(./__title/gallery__title.css);
@import url(./__whishlist/gallery__whishlist.css);

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 18px;
  justify-content: center;
}
