.form__button {
  width: 358px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  border-radius: 2px;
  margin-top: 54px;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: url(../../../images/popup/hand_icon.svg), pointer;
}

@media (max-width: 543px) {
  .form__button {
    width: 236px;
  }
}
