.profile__button-add {
  text-align: right;
  margin-left: auto;
  display: inline-block;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  background-image: url(../../../images/profile/button__add.svg);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}

.profile__button-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile__button-add {
    width: 282px;
    margin-left: 0;
  }
}

@media (max-width: 319px) {
  .profile__button-add {
    width: 262px;
  }
}
