@import url(./__container/gallery__container.css);
@import url(./__item/gallery__item.css);
@import url(./__caption/gallery__caption.css);
@import url(./__title/gallery__title.css);
@import url(./__like/gallery__like.css);
@import url(./__trash/gallery__trash.css);

@import url(./__like-counter/gallery__like-counter.css);
@import url(./__like-container/gallery__like-container.css);
@import url(./__trash/_active/gallery__trash_active.css);

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-gap: 18px;
  justify-content: center;
  min-height: 361px;
}

@media (max-width: 319px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, 264px);
  }
}
