.profile__title {
  font-size: 42px;
  line-height: 56px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 652px) {
  .profile__title {
    font-size: 27px;
    margin-left: 10px;
  }
}
