.popup__close-toggle {
  position: absolute;
  top: -44px;
  left: 416px;
  background-image: url(../../../images/popup/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
}

.popup__close-toggle:hover {
  opacity: 0.6;
  cursor: url(../../../images/popup/hand_icon.svg), pointer;
}

@media (max-width: 543px) {
  .popup__close-toggle {
    top: -55px;
    left: 245px;
  }
}

@media (max-width: 320px) {
  .popup__close-toggle {
    left: 220px;
  }
}

/* @media (max-width: 311px) {
  .popup__close-toggle {
    left: 229px;
  }
}  */
