.gallery__like {
  margin-right: 21px;
  /* position: relative; */
  /* top: 4px; */
  margin-top: 4px;

  background-image: url(../../../images/gallery/heart.svg);
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  border: 0;
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.gallery__like:hover {
  opacity: 0.6;
  border: 0;
}
