.form__close-toggle {
  position: absolute;
  display: inline-block;
  top: -44px;
  left: 416px;
}

.form__close-toggle:hover {
  opacity: 0.6;
  cursor: url(../../../images/popup/hand_icon.svg), pointer;
}
