.form__title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 54px;
}

@media (max-width: 543px) {
  .form__title {
    font-size: 18px;
    margin-bottom: 26px;
  }
}
