@import url(./_active/gallery__like_active.css);

.gallery__like {
  margin-right: 21px;
  margin-top: 4px;
  outline: 0;
  background-image: url(../../../images/gallery/heart.svg);
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  border: 0;
  width: 21px;
  height: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.gallery__like:hover {
  opacity: 0.6;
  border: 0;
}
