.popup__form-button {
  width: 358px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  border-radius: 2px;
  margin-top: 48px;
}

.popup__form-button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: url(../../../images/popup/hand_icon.svg), pointer;
}

@media (max-width: 543px) {
  .popup__form-button {
    width: 236px;
  }
}

@media (max-width: 375px) {
  .popup__form-button {
    width: 200px;
    height: 42px;
    margin: 0 auto;
    margin-top: 31px;
    font-size: 14px;
    line-height: 17px;
  }
}
